*,
html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
}

#welcome {
    background: url(foto/welcome/wallpaperflare.com_wallpaper\ \(6\).jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

#welcome::before {
    position: absolute;
}


@media screen and (min-width: 768px) {
    .container-fluid{
        margin-top: -7px;
    }
}

#nav-off{
    margin-bottom: 35px;
}



.navbar {
    position: relative;
    height: 60px;
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
    /* background: url(foto/welcome/navbar.jpg); */
    color: white;
    overflow: hidden;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.navbar-nav {
    gap: 20px;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: black;
}

@media (min-width:991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        visibility: hidden;
        background-color: #393a40;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}


/* menu indonesia */

#menuID {
    height: fit-content;
    width: 100%;
    background-color: #212023;
    padding-bottom: 20px;
}

#daftarID {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    width: 300px;
    height: 250px;
}

.card {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card.animated {
    opacity: 1;
    transform: translateY(0);
}