*,
html{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/1920x1080\ Resolution\ Abstract\ Lines\ HD\ Cool\ 1080P\ Laptop\ Full\ HD\ Wallpaper\ -\ Wallpapers\ Den.jpg);
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-container{
    margin: 200px auto;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 10%;
    box-shadow: 8px 10px 30px rgb(40, 39, 39);
}

h1{
    margin-bottom: 30px;
    margin-top: 20px;
}

h5{
    cursor: pointer;
    position: relative;
    margin-top: -25px;
}

#link-forgot{
    margin-top: 10px;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

#link-forgot:hover{
    
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.login-page{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#username{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    padding: 3px;
    background-color: transparent;
    color: white;
}

#password{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    padding: 3px;
    background-color: transparent;
    color: white;
}

#button-submit{
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    padding: 3px;
    border: none;
    background-color: rgb(19, 18, 18);
    color: white;
    transition: 0.2s ease-out background-color,color 0.2s;
}

#button-submit:active{
    background-color: white;
    color: black;
}

.username-message{
    position: absolute;
    margin-top: 45px;
    margin-left: 10px;
    font-size: 10;
    color: red;
}
.password-message{
    position: absolute;
    margin-top: 115px;
    margin-left: 10px;
    font-size: 10;
    color: red;
}


#todo-page{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#listpg{
    border-radius: 10px;
    gap: 10px;
    width: 500px;
    backdrop-filter: blur(20px);
    padding: 20px;
    box-shadow: rgb(107, 84, 84) 20px 20px 70px;
}

#listdaftar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


