*,
html{
    margin: 0;
    padding: 0;
}

#navbar{
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(20px);
    position: absolute;
}

body{
    background-color:rgb(3, 9, 50);
}

#corosel{
    width: 100%;
    height: 400px;
}

#coba{
    display: flex;
    flex-direction: column;

}

#landmark{
    margin: 0;
}